<form [formGroup]="regForm" (ngSubmit)="register()" novalidate>
    <label for="exampleInputName1">Name</label><br>
    <input type="email" formControlName="name" placeholder="Enter name"><br>
	<label for="exampleInputEmail1">Email</label><br>
    <input type="email" formControlName="email" placeholder="Enter email"><br>
    <label for="exampleInputPassword1">Password</label><br>
    <input type="password" formControlName="password" placeholder="Password"><br>
    <label for="exampleInputPassword_Confirmation1">Password Confirmation</label><br>
    <input type="password" formControlName="password_confirmation" placeholder="Password Confirmation"><br>
    <button type="submit">REGISTER</button>
</form>