<form [formGroup]="regForm" (ngSubmit)="register()" novalidate>
    <label for="exampleInputName1">Name</label>
    <input type="email" formControlName="name" placeholder="Enter name">
	<label for="exampleInputEmail1">Email</label>
    <input type="email" formControlName="email" placeholder="Enter email">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" formControlName="password" placeholder="Password">
    <label for="exampleInputPassword_Confirmation1">Password Confirmation</label>
    <input type="password" formControlName="password_confirmation" placeholder="Password Confirmation">

    <button type="submit">REGISTER</button>
</form>

<button type="button" (click)="register()">REGISTER</button>