

.box {
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;

}



button {
    background: green;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 20px

}